* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

header {
  width: 100%;
  height: 75px;
  background-color: lightcoral;
  border-radius: 0 0 25px 25px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-top: none;

  pointer-events: none;
  /* ovo je da mogu maknut desni border kad pointam na settings */
}

header:hover {
  border-right: none;
  padding-right: 4px;
  border-radius: 0 0 0 25px;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > img {
  height: 50px;
  margin-left: 50px;
}

header > .navbar > .list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

header > .navbar > .list > li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px 30px;
}

header > .navbar > .list > li > a {
  justify-self: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navbar > ul > li:hover {
  background-color: rgb(236, 176, 176);
}

.navbar > ul > li.settings:hover {
  background-color: lightcoral;
}

header .navbar > ul > li {
  pointer-events: auto; /* enables the hover on the .parent */
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  right: -35px;
  top: 54px;
  width: 120px;

  background-color: lightcoral;
  border-radius: 0 0 0 25px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-right: 0;
  border-top: 0;
}

.settings:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: nowrap nowrap;
}

.dropdown-content a {
  display: block;
  width: 100%;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: rgb(236, 176, 176);
}

.dropdown-content > a.last-dropdown-element:hover {
  border-radius: 0 0 0 20px;
}

.btn-settings {
  width: 100%;
  border: none;
  font-size: xx-large;
  color: white;
  background-color: lightcoral;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 75px);
  width: 100%;
}

#titleLogin {
  font-size: 2em;
  color: #fff;
  text-align: flex-start;
}

.form-box {
  width: 300px;
  height: 400px;
  background: lightcoral;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 210px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -1px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.button-submit {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 75px;
  background-color: lightcoral;
  display: none;
  /* hide footer on desktop, display the header and then change when on mobile */
  border-radius: 25px 25px 0 0;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  z-index: 1;
}

footer > .list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

footer > .list > li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px 30px;
}

footer > .list > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.btn-plus {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(236, 176, 176);
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: relative;
}

.btn-plus > span {
  font-size: xx-large;
}

.btn-plus:hover {
  cursor: pointer;
}

.popup:target {
  display: block;
}

.popup {
  display: none;
  position: absolute;
  bottom: 75px;
  left: 20vw;
  z-index: 1;
  width: 60vw;
  height: 250px;

  background-color: lightcoral;
  border-radius: 25px 25px 0 0;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup > .popup-nav {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.popup > .popup-nav > a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-x {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(236, 176, 176);
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: relative;
  margin-top: -46px;
}

.btn-x > span {
  font-size: xx-large;
}

.btn-x:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    display: none;
  }

  footer {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media (min-width: 769px) {
  .popup {
    display: none;
    visibility: hidden;
  }
}
